<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="row">
      <div>
        <button (click)="onAddTask()" class="btn btn-primary pull-right">Add</button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc.</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ task.name }}</td>
            <td>{{ task.taskDesc }}</td>
            <td>
              <a class="pointer" (click)="onEditTask(task)">Edit</a>
              <br>
              <a class="pointer" (click)="onDeleteTask(task.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button (click)="onLogOut()" class="btn btn-primary ">Logout</button>
</section>
<app-footer></app-footer>
